<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  <!-- DataSource cfg -->
  <bean id="drds"  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
       <property name="driverClassName"  value="org.gjt.mm.mysql.Driver"/>
       <property name="url" value="jdbc:mysql://localhost:3306/DataBase1"/>
<!--        <property name="username" value="root"/> -->
<!--        <property name="password"  value="AmanShweta22@"/> -->
   <property name="connectionProperties">
      <props>
        <prop key="username">root</prop>
      </props>
   </property>
  </bean>	
  
  <bean id="scds" class="org.springframework.jdbc.datasource.SingleConnectionDataSource" parent="drds">
    <property name="connectionProperties">
     <props merge="true">
      <prop key="password">AmanShweta22@</prop>
    </props>
   </property>
  </bean>
  
  
  <!-- DAO  cfg -->
  <bean id="stDAO"   class="com.aman.dao.StudentDAOImpl">
     <constructor-arg  ref="scds"/>
  </bean>
  
  <bean id="dbcpDS" class="org.apache.commons.dbcp2.BasicDataSource" parent="drds"/>
  <!-- Service cfg -->
  <bean id="stService"  class="com.aman.service.StudentServiceImpl">
       <constructor-arg  ref="stDAO"/>
  </bean>
  <!-- Controller cfg -->
  <bean id="controller"   class="com.aman.controller.MainController">
      <constructor-arg  ref="stService"/>
  </bean>
</beans>
